extends layout

block content
  h1= title
  p Welcome to #{name}
  p.greetings#people This is a Hello World!
  div
   | http://localhost:3000/form give an example form. Add following fields to the existing form by editing 'form.jade' in views
   ul
    ol Roll No
    ol Mark
  
   
   
  div.
   The submitted form parsed in 'users.js' file in routes and implement the following logic based on user input
   p If mark is >=50, student is eligible, otherwise not( See the 'response.jade' for response format)
   
   
 
  
  
